<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--sfondo-->
    <div class="bg1"></div>
    <div class="bg2"></div>
    <!--/sfondo-->

    <!--app-->
    <div id="app" class="flex">
        <!--Colonna di sinistra-->
        <aside class="flex flex-column">
            <header class="flex jc-between ai-center">
                <div class="flex ai-center">
                    <img src="../img/avatar_1.jpg" alt="avatar_1" class="avatar">
                    <span class="nome">Ivan</span>
                </div>
                <div class="flex ai-center">
                    <i class="fa-solid fa-circle-notch mr-2"></i>
                    <i class="fa-solid fa-message mr-2"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </header>

            <div class="notifiche flex ai-center">
                <div class="cerchio mr-2">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div>
                    <span class="notifiche-avviso">Ricevi notifiche di nuovi messaggi</span>
                    <span class="ultimo-accesso">Attiva notifiche desktop</span>
                </div>
            </div>

            <div class="lista-conversazioni flex flex-column">
                <div class="cerca flex">
                    <div>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <input v-model="cerca" type="text" placeholder="Cerca nei tuoi contatti">
                </div>
                <!--Lista conversazioni-->
                <div class="content">
                    <div class="flex jc-between content-chat" :class="isActive(element.id)" v-for="(element,index) in getConversazioni()" @click="setIdActive(element.id,$event)">
                        <div class="flex ai-center">
                            <img :src="contatti[element.idContatto].img" :alt="contatti[element.idContatto].nome" class="avatar">
                            <div>
                                <span class="nome">{{contatti[element.idContatto].nome}} {{contatti[element.idContatto].cognome}}</span>
                                <span class="ultimo-accesso">Ultimo messaggio inviato</span>
                            </div>
                        </div>
                        <span class="orario">{{getOrarioUltimoMessaggio(index)}}</span>
                    </div>
                </div>
                <!--/Lista conversazioni-->
            </div>

        </aside>
        <!--/Colonna di sinistra-->
        <main>
            <div v-if="chatAttiva()" class="h-100 flex flex-column">
                <!--header chat-->
                <header class="flex jc-between ai-center">
                    <div class="flex ai-center">
                        <img :src="getImgContatto()" alt="avatar_1" class="avatar">
                        <div>
                            <span class="nome">{{getNomeCognomeContatto()}}</span>
                            <span class="ultimo-accesso">Ultimo accesso: 12:00</span>
                        </div>
                    </div>
                    <div class="flex ai-center">
                        <i class="fa-solid fa-magnifying-glass mr-2"></i>
                        <i class="fa-solid fa-link mr-2"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>
                <!--/header chat-->
                <!--chat-->
                <section id="chat">
                    <div v-for="(element,index) in getMessaggiContatto()">
                        <div class="mess" :class="(element.sent) && 'mandati'">{{element.testo}}<span class="orario mess-orario">{{getOrarioMessaggio(index)}}</span></div>
                    </div>
                </section>
                <!--/chat-->
                <!--parte per mandare un messaggio-->
                <footer class="flex jc-between ai-center">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="messaggioTemporaneo" @keyup.enter="inviaMessaggio()">
                    <i class="fa-solid fa-microphone"></i>
                </footer>
                <!--/parte per mandare un messaggio-->
            </div>
        </main>
    </div>
    <!--/app-->

    <!--vuejs-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--js-->
    <script src="js/main.js"></script>
</body>
</html>